#map {
    width: 100%;
    height: 400px;
    position: relative;
}

@media (min-width: 800px) {
    body {
        padding-right: 50%;
    }

    #map {
        width: 50%; 
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
    }
}

#parsedTripCounterContainer {
    display: none;
}
a.disabled {
    pointer-events: none;
    color: #ccc;
}

fieldset {
    display: inline-block;
    vertical-align:top;
}
