body {
    padding-right: 50%;
}

#map {
    width: 50%; 
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
}

#gpxFileLinkContainer {
    display: none;
}

#filePreviewContainer {
    display: none;
}
